* {
  margin: 0px;
  padding: 0%;
  box-sizing: border-box;
}

.logo {
  margin-right: 10px;
  flex: 1;
  font-family: "Pacifico", cursive;
  text-align: center;
}

header {
  display: flex;
  width: 100%;
  height: 100px;
  margin: auto;
  align-items: center;
  position: sticky;
  top: 0;
}
#nav {
  transition: top 0.75s;
  height: 100px;
  transition: background-color 0.6s ease-out;
}
#nav.scroll,
#slide-bar.scroll {
  background-color: rgb(140, 124, 80);
  color: #eef;
}
nav {
  flex: 6.5;
}

.nav-sites {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

#button {
  flex: 1;
  text-align: center;
}

#button img {
  height: 60px;
  width: 70px;
}
#button:hover {
  cursor: pointer;
}

#slide-bar {
  width: 0;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  overflow-x: hidden;
  z-index: 3;
  position: fixed;
  top: 0;
  right: 0px;
  background-color: #fff;
  transition: 0.5s;
  padding: 40px 0;
}
#slide-bar ul {
  flex-direction: column;
}

#slide-bar li {
  display: block;
  width: 100%;
  flex: 1;
  text-align: center;
}

.nav-site {
  text-decoration: none;
  color: rgb(93, 93, 93);
  font-family: "Staatliches", cursive;
  font-size: 20px;
}
.index {
  text-decoration: none;
  color: rgb(224, 203, 63);
  font-family: "Staatliches", cursive;
  font-size: 20px;
}
.nav-site:hover {
  color: rgb(224, 203, 63);
}
